<br>
<h3 class="col-lg-12">Greetings, Hive Bane!</h3>
<hr>

<div class="row dashboard-content">
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="btn-group">
                <h5><i>Guardians:</i></h5>
                <p><a class="btn btn-primary btn-block" href="#/myaccount/show/">My Account</a></p>
                <p><a class="btn btn-success btn-block" href="#/guardians/list">Guardian Search</a></p>
            </div>
        </div>
    </div>
    
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="btn-group">
                <h5><i>Current Activities:</i></h5>
                <p><a class="btn btn-info btn-block" href="#/nightfall/show/">Nightfall</a></p>
                <p><a class="btn btn-info btn-block" href="#/heroicstrike/show/">Heroic Strike</a></p>
                <p><a class="btn btn-info btn-block" href="#/arena/show/">Arena</a></p>
                <p><a class="btn btn-info btn-block" href="#/dailychapter/show/">Daily Chapter</a></p>
                <p><a class="btn btn-info btn-block" href="#/dailycrucible/show/">Daily Crucible</a></p>
                <p><a class="btn btn-info btn-block" href="#/armsday/show/">Arms Day</a></p>
                <p><a class="btn btn-info btn-block" href="#/weeklycrucible/show/">Weekly Crucible</a></p>
                <p><a class="btn btn-info btn-block" href="#/availablebounties/show/">Available Bouties</a></p>
            </div>
        </div>
    </div>
    
</div>
